<!-- 
id: 360030578492
title: Electronic verification
product: SBK
region: en-gb
category: Account Verification
section: Verifying-your-account
url: https://help.getsbk.com/hc/en-gb/articles/360030578492-Electronic-verification
scraped: 2026-06-29
-->
Title: Electronic verification

URL Source: https://help.getsbk.com/hc/en-gb/articles/360030578492-Electronic-verification

Markdown Content:
*   [Change your verified email address](https://help.getsbk.com/hc/en-gb/articles/360030913411-Change-your-verified-email-address)
*   [Verifying your email address](https://help.getsbk.com/hc/en-gb/articles/360030578552-Verifying-your-email-address)
*   [Electronic verification](https://help.getsbk.com/hc/en-gb/articles/360030578492-Electronic-verification)
*   [Verification process time](https://help.getsbk.com/hc/en-gb/articles/360030913291-Verification-process-time)
*   [Documents required to verify your account](https://help.getsbk.com/hc/en-gb/articles/360030913271-Documents-required-to-verify-your-account)

![Image 1](https://help.smarkets.com/system/photos/114152635491/Twitter-avatar.jpg)

Smarkets

[Follow](https://help.getsbk.com/hc/en-gb/articles/360030578492-Electronic-verification/subscription.html "Opens a sign-in dialogue")

Where possible, SBK will try to verify your account electronically by running the details you provide when signing up against a number of official databases.

_Note: This will not affect your credit rating._

If your account cannot be verified electronically, you can verify your account by uploading a [copy of a photo ID and proof of address](https://help.getsbk.com/hc/en-gb/articles/360030913271-Documents-required-to-verify-your-account)via our file upload page in the SBK app.

### Related articles

*   [Contacting SBK](https://help.getsbk.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCIvFg9NTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCDynftNTADoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSIzL2hjL2VuLWdiL2FydGljbGVzLzM2MDAzMDkxMzkzMS1Db250YWN0aW5nLVNCSwY7CFQ6CXJhbmtpBg%3D%3D--9ec704180ca1b4ca31f745691b8f28bc2909ba95)
*   [Documents required to verify your account](https://help.getsbk.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCPfCg9NTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCDynftNTADoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSJOL2hjL2VuLWdiL2FydGljbGVzLzM2MDAzMDkxMzI3MS1Eb2N1bWVudHMtcmVxdWlyZWQtdG8tdmVyaWZ5LXlvdXItYWNjb3VudAY7CFQ6CXJhbmtpBw%3D%3D--ee068b27ded0759545faac7830cb2e363302eb2b)
*   [Verification process time](https://help.getsbk.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCAvDg9NTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCDynftNTADoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSI%2BL2hjL2VuLWdiL2FydGljbGVzLzM2MDAzMDkxMzI5MS1WZXJpZmljYXRpb24tcHJvY2Vzcy10aW1lBjsIVDoJcmFua2kI--70edad193612f055f7d51d3d9f35e707a3b564ed)
*   [Verifying your email address](https://help.getsbk.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCHinftNTADoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCDynftNTADoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSJBL2hjL2VuLWdiL2FydGljbGVzLzM2MDAzMDU3ODU1Mi1WZXJpZnlpbmcteW91ci1lbWFpbC1hZGRyZXNzBjsIVDoJcmFua2kJ--ce18a71c0c46d638b4fb906f5f981ff7daa35418)
*   [How to make a withdrawal](https://help.getsbk.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGwrCBHrHZoDBDoYcmVmZXJyZXJfYXJ0aWNsZV9pZGwrCDynftNTADoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSI%2BL2hjL2VuLWdiL2FydGljbGVzLzQ0MTM1MTcwNjQ5NzctSG93LXRvLW1ha2UtYS13aXRoZHJhd2FsBjsIVDoJcmFua2kK--0b03a363603c6d928f749f0ad5c9e1a47d4e20bb)
