<!-- 
id: 210025725
title: Electronic verification
product: Smarkets
region: en-gb
category: Account Verification
section: Verifying-your-account
url: https://help.smarkets.com/hc/en-gb/articles/210025725-Electronic-verification
scraped: 2026-06-29
-->
Title: Electronic verification

URL Source: https://help.smarkets.com/hc/en-gb/articles/210025725-Electronic-verification

Markdown Content:
[![Image 1: Smarkets](https://help.smarkets.com/hc/theming_assets/01HZKNADCRZZBJ6EPKDBKFPQ98)](https://help.smarkets.com/hc/en-gb)# [Help Centre](https://help.smarkets.com/hc/en-gb)

## How can we help you?

[Help Centre](https://help.smarkets.com/hc/en-gb)[Safer Gambling](https://help.smarkets.com/hc/en-gb/categories/360001480391)[Contact Us](https://help.smarkets.com/hc/en-gb/categories/360001480451)
# Electronic verification

Where possible, Smarkets will try to verify your account electronically by running the details you provide when signing up against a number of official databases.

_Note: This will not affect your credit rating._

If your account cannot be verified electronically, you can [verify your account](https://help.smarkets.com/hc/en-gb/articles/212634805-How-to-verify-your-account) by uploading a [copy of a photo ID and proof of address](https://help.smarkets.com/hc/en-gb/articles/212634845-Documents-required-to-verify-your-account)via our[file upload page](https://smarkets.com/account/file-upload/).

* * *

### Related articles

*   [How to verify your account](https://help.smarkets.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGkEtYysDDoYcmVmZXJyZXJfYXJ0aWNsZV9pZGkE%2FbyEDDoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSI8L2hjL2VuLWdiL2FydGljbGVzLzIxMjYzNDgwNS1Ib3ctdG8tdmVyaWZ5LXlvdXItYWNjb3VudAY7CFQ6CXJhbmtpBg%3D%3D--82dd9a8d34586e68b26ac1bfb905ea5964b50eed)
*   [Documents required to verify your account](https://help.smarkets.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGkE3YysDDoYcmVmZXJyZXJfYXJ0aWNsZV9pZGkE%2FbyEDDoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSJLL2hjL2VuLWdiL2FydGljbGVzLzIxMjYzNDg0NS1Eb2N1bWVudHMtcmVxdWlyZWQtdG8tdmVyaWZ5LXlvdXItYWNjb3VudAY7CFQ6CXJhbmtpBw%3D%3D--bd801d9026fb96ab2fedbf725f3106807738d7bc)
*   [Contacting Smarkets](https://help.smarkets.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGkEiReODDoYcmVmZXJyZXJfYXJ0aWNsZV9pZGkE%2FbyEDDoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSI1L2hjL2VuLWdiL2FydGljbGVzLzIxMDYzODcyOS1Db250YWN0aW5nLVNtYXJrZXRzBjsIVDoJcmFua2kI--938f47cbefa27c911eac369f354323254b766946)
*   [Verification process time](https://help.smarkets.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGkEjdCjDDoYcmVmZXJyZXJfYXJ0aWNsZV9pZGkE%2FbyEDDoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSI7L2hjL2VuLWdiL2FydGljbGVzLzIxMjA2MjM0OS1WZXJpZmljYXRpb24tcHJvY2Vzcy10aW1lBjsIVDoJcmFua2kJ--a90ba0ec284bf5c5d5eac833cd93694a18616dc5)
*   [Minimum and maximum withdrawals](https://help.smarkets.com/hc/en-gb/related/click?data=BAh7CjobZGVzdGluYXRpb25fYXJ0aWNsZV9pZGkE%2FVOsDDoYcmVmZXJyZXJfYXJ0aWNsZV9pZGkE%2FbyEDDoLbG9jYWxlSSIKZW4tZ2IGOgZFVDoIdXJsSSJBL2hjL2VuLWdiL2FydGljbGVzLzIxMjYyMDI4NS1NaW5pbXVtLWFuZC1tYXhpbXVtLXdpdGhkcmF3YWxzBjsIVDoJcmFua2kK--994822b219e1d1616b1c138db091f40b4bf270f6)

## Still not on Smarkets?

Trade sports, politics and current affairs with the best odds and industry-low commission. New users can use code COMMFREE to trade commission-free for 60 days. T&Cs apply.

[Join Smarkets](https://smarkets.com/members/signup)

[![Image 2: Smarkets](https://help.smarkets.com/hc/theming_assets/01HZKNADCRZZBJ6EPKDBKFPQ98)](https://smarkets.com/)

[English (United Kingdom)](https://help.smarkets.com/hc/en-gb/articles/210025725-Electronic-verification)[English (Sweden)](https://help.smarkets.com/hc/change_language/en-se?return_to=%2Fhc%2Fen-se%2Farticles%2F210025725-Electronic-verification)[Svenska](https://help.smarkets.com/hc/change_language/sv?return_to=%2Fhc%2Fsv%2Farticles%2F210025725-Elektronisk-verifiering)

### Betting

*   [Education](https://help.smarkets.com/hc/en-gb/categories/360001487832)
*   [Calculators](https://help.smarkets.com/hc/en-gb/categories/360001480311)
*   [Betting on Smarkets](https://help.smarkets.com/hc/en-gb/categories/360001487852)
*   [Bonus & Promotions](https://help.smarkets.com/hc/en-gb/categories/360001480331)

### Account & Payment

*   [Your Account](https://help.smarkets.com/hc/en-gb/categories/360001480351)
*   [Account Verification](https://help.smarkets.com/hc/en-gb/categories/360001480371)
*   [Payments](https://help.smarkets.com/hc/en-gb/categories/360001487872)
*   [Source of Funds & Wealth](https://help.smarkets.com/hc/en-gb/categories/16426956148893)

### Using Smarkets

*   [Safer Gambling](https://help.smarkets.com/hc/en-gb/categories/360001480391)
*   [Betting Rules](https://help.smarkets.com/hc/en-gb/categories/360001480411)
*   [Terms & Conditions](https://help.smarkets.com/hc/en-gb/categories/360001480431)
*   [Contact Us](https://help.smarkets.com/hc/en-gb/categories/360001480451)

[![Image 3: Facebook](https://help.smarkets.com/hc/theming_assets/01HZKNAEA5J9RZGGJA19J6RXQS)](http://facebook.com/smarkets)[![Image 4: Twitter](https://help.smarkets.com/hc/theming_assets/01HZKNAEGZGPMF7098J1CVB7XB)](http://twitter.com/smarkets)[![Image 5: Email](https://help.smarkets.com/hc/theming_assets/01HZKNAEDJBK814QVVXCAXMZ2G)](mailto:support@smarkets.com)

 1 Commodity Quay 

 St Katharine Docks 

 London 

 E1W 1AZ 

 United Kingdom 

![Image 6](https://bat.bing.com/action/0?ti=56006688&tm=gtm002&Ver=2&mid=7b6980d8-fe0d-4666-aac4-086602978b95&bo=1&sid=d5b9e96073b811f18623efec5fffa92d&vid=d5ba365073b811f18a35eb5e2011b7fe&vids=1&msclkid=N&pi=918639831&lg=en-US&sw=1280&sh=1280&sc=24&tl=Electronic%20verification%20%E2%80%93%20Smarkets%20Help%20Centre&p=https%3A%2F%2Fhelp.smarkets.com%2Fhc%2Fen-gb%2Farticles%2F210025725-Electronic-verification&r=&lt=773&evt=pageLoad&sv=2&cdb=AQAQ&rn=297318)
